[submodule "themes/ramium"]
	path = themes/ramium
	url = https://github.com/rafed/ramium.git
[submodule "themes/freelancer"]
	path = themes/freelancer
	url = https://github.com/joseph-mccarthy/hugo-bootstrap-freelancer-template
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
